<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/reset.css?after">
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/category.css">
  <script src="js/html.js?after"></script>
  <script src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/js/category.js"></script>
  <!-- <link rel="stylesheet" href="css/modal.css"> -->

</head>
<body> 
   <!--헤더시작--> 
   <header>
    <div class="global1">
      <div class="global_topbar">
          <div class="global_topbar_menu1" >
          <a href=""><div class="global_topbar_menu1_menu">호스트센터</div></a>
          </div>
          <div class="global_topbar_menu2" >
          <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/newMember.html" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">회원가입</div></a>
          <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/login.html" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">로그인</div></a>
          <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">자주 묻는 질문</div></a>
          <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">공지사항</div></a>
          </div>
      </div>
    </div>

    <!--topvar2-->
    <div class="global2">
      <div class="global_topbar2">
          <div class="global_topbar2_menu1">
              <a href="category.html" class="global_topbar2_menu1_a">
                  <div>
                      <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/cate.png" alt="" width="25px"  >
                      <span>카테고리</span>
                  </div>
              </a>
              
              <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/intro.html" class="global_topbar2_menu1_a_log">
                  <div class="global_topbar2_menu1_a_div">
                      <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/logo%20(2).png" alt="로고" width="70px" >
                  </div>         
              </a>

              <div class="global_topbar2_menu1_search">
                  <div>
                      <form action="">
                          <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/search.png" alt="로고" >
                          <input type="text" class="global_topbar2_menu1_search_input search_input" placeholder="지금 생각나는 취미를 검색하세요.">
                      </form>
                  </div>
              </div>
          </div>

          <div class="global_topbar2_menu2">
              <a href="">
                  <div class="global_topbar2_menu2_menu">
                      <div>
                          <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/feed.png" alt="로고" width="25px" >
                      </div>
                      <span>피드</span>
                  </div>
              </a>
              <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/zzim.html">
                  <div class="global_topbar2_menu2_menu">
                      <div>
                          <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/heartforpage.png" alt="로고" width="25px" >
                      </div>
                      <span>찜</span>
                  </div>
              </a>
              <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/cart.html">
                <div class="global_topbar2_menu2_menu">
                    <div>
                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/cart2.png" alt="로고" width="25px" >
                    </div>
                    <span>장바구니</span>
                </div>
            </a>
              <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/mypage.html">
                  <div class="global_topbar2_menu2_menu">
                      <div>
                          <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ME.png" alt="로고" width="25px">
                      </div>
                      <span>마이</span>
                  </div>
              </a>
          </div>
      </div>
    </div>

    <div class="global_modal">
        <div class="global_modal_form">
            <div class="global_topbar2_search">
                <div class="global_modal_wrapper">
                    <div>
                        <section>
                            <div class="global_modal_search">
                                <div>최근검색어</div>
                                <a href="#"><div class="global_modal_search_del">지우기</div></a>
                            </div>
                
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                        </section>
                        <hr>
                        <section class="global_modal_show_a">
                            <div class="global_modal_search">인기검색어</div>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                        </section>
                       
                    </div>
                </div>
            </div>
            
        </div>
        <div class="global_modal_bottom"></div>
    </div>
  </header>

  <!--헤더끝-->

  <!-- 본문 시작 -->
  <div class="Home">
  <div class="PageWrapper">
    <div class="Padded">
        <h1 font-size="20px" class="Left-LeftPageTitle">카테고리</h1>
        <div class="Fade_Wrapper" style="opacity: 1; display: block;">
        <div class="CategoryList__Wrapper">
            
            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="아웃도어">
                <div class="CategoryItem1">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>아웃도어</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="피트니스">
                <div class="CategoryItem2">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>피트니스</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="공예DIY">
                <div class="CategoryItem3">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>공예DIY</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="스포츠">
                <div class="CategoryItem4">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>스포츠</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="베이킹">
                <div class="CategoryItem5">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>베이킹</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="문화예술">
                <div class="CategoryItem6">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>문화예술</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="온라인">
                <div class="CategoryItem7">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>온라인</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="자기계발">
                <div class="CategoryItem8">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>자기계발</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="뷰티">
                <div class="CategoryItem9">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>뷰티</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="모임">
                <div class="CategoryItem10">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>모임</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="스토어">
                <div class="CategoryItem11">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>스토어</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="심리·상담">
                <div class="CategoryItem12">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>심리·상담</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="수상레포츠">
                <div class="CategoryItem13">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>수상레포츠</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="음료">
                <div class="CategoryItem14">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>음료</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="요리">
                <div class="CategoryItem15">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>요리</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="국내여행">
                <div class="CategoryItem16">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>국내여행</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="제주여행">
                <div class="CategoryItem17">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>제주여행</span>
                </div>
            </a>

            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/itemlist.html" class="CategoryItem-A" data-category="해외여행">
                <div class="CategoryItem18">
                    <div class="CategoryItem__Background"></div>
                    <div class="CategoryItem__Text"></div>
                    <span>해외여행</span>
                </div>
            </a>



        </div>
        </div>
    </div>
    <br>
    <br>
  </div>
</div>


   <!-- 본문 끝 -->





    <!--footer 시작-->
    <footer>
        <div class="footer">
            <div class="footer_wrap">
                <div class="foot_first">
                        운영시간: 평일/주말 10:00 - 17:00 (점심 : 12:00 - 13:00)
                </div>
                <div class="footer_all">
                        광고/제휴: 123456@gmail.com
                </div>
                <div class="footer_all_2">
                            <h2>HabitBroker</h2>
                            <div>대표 : 2조 | 개인정보 관리 책임자 : 모두</div>
                            <div>서울시 강남구 강남역 3번출구 삼성빌딩</div>
                        <div>

                        </div>
                    </div>
                <div class="footer_all_3">
                        <a>이용약관</a> | 
                        <a>개인정보 처리방침</a> | 
                        <a>위치기반 서비스 이용약관</a>
                </div>
                <div class="footer_copy">
                COPYRIGHT &copy;HABIT
                </div>
            </div>
        </div>


    </footer>
    <!--footer 끝-->


    <script>
    $(document).ready(function() {
    // 카테고리 항목 클릭 처리
    $('.CategoryItem-A').on('click', function(event) {
    event.preventDefault(); // 기본 이벤트 취소
    const categoryText = $(this).data("category"); // 클릭한 카테고리의 데이터 가져오기

    // 선택한 카테고리 이름 저장
    localStorage.setItem('selectedCategory', categoryText);

    // 원하는 페이지로 이동
    window.location.href = 'itemlist.html';
    });
});
    </script>
</body>