<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/reset.css?after">
<link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/itemlist.css?after">
<script src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/js/jquery.cookie.js"></script>


<style>
    .active {
        filter: none;
    }
    </style>
    <script>
    function toggleZzim(event) {
        event.preventDefault(); // 'zim'의 상태를 변경
        event.stopPropagation();

        const $zzimIcon = $(".Home_product_recommend_p_div_img", event.target.parentElement);
        $zzimIcon.toggleClass("active");

        //이미지의 src를 변경하려면 이 옵션을 사용
        if ($zzimIcon.hasClass("active")) {
            $zzimIcon.attr("src", "img/redheart2.png");
        } else {
        $zzimIcon.attr("src", "img/black2.png");
    }
}
    </script>

</head>
<body> 
    <!--헤더시작--> 
    <header>
        <div class="global1">
        <div class="global_topbar">
            <div class="global_topbar_menu1" >
            <a href=""><div class="global_topbar_menu1_menu">호스트지원</div></a>
            </div>
            <div class="global_topbar_menu2" >
            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/newMember.html" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">회원가입</div></a>
            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/login.html" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">로그인</div></a>
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">자주 묻는 질문</div></a>
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">공지사항</div></a>
            </div>
        </div>
    </div>

    <!--topvar2-->
    <div class="global2">
        <div class="global_topbar2">
            <div class="global_topbar2_menu1">
                <a href="category.html" class="global_topbar2_menu1_a">
                    <div>
                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/cate.png" alt="" width="25px"  >
                        <span>카테고리</span>
                    </div>
                </a>
                
                <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/intro.html" class="global_topbar2_menu1_a_log">
                    <div class="global_topbar2_menu1_a_div">
                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/logo%20(2).png" alt="로고" width="70px" >
                    </div>         
                </a>

                <div class="global_topbar2_menu1_search">
                    <div>
                        <form action="">
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/search.png" alt="로고" >
                            <input type="text" class="global_topbar2_menu1_search_input" placeholder="지금 생각나는 취미를 검색하세요.">
                        </form>
                    </div>
                </div>
            </div>

            <div class="global_topbar2_menu2">
                <a href="">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/feed.png" alt="로고" width="25px" >
                        </div>
                        <span>피드</span>
                    </div>
                </a>
                <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/zzim.html">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/heartforpage.png" alt="로고" width="25px" >
                        </div>
                        <span>찜</span>
                    </div>
                </a>
                <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/cart.html">
                <div class="global_topbar2_menu2_menu">
                    <div>
                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/cart2.png" alt="로고" width="25px" >
                    </div>
                    <span>장바구니</span>
                </div>
            </a>
                <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/mypage.html">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ME.png" alt="로고" width="25px">
                        </div>
                        <span>마이</span>
                    </div>
                </a>
            </div>
        </div>
        </div>
    </header>

    <!--헤더끝-->



    <!--* 본문 시작 -->
    <div class="Home">
    <div class="PageWrapper">
    <div class="Fade_Wrapper" style="opacity: 1; display: block;">
        <br>
            <!--& 인기 리스트 타이틀 & 총수량 -->
        <div font-size="18" class="ProductSectionHeader_Header">
                    <h2 class="ProductSectionHeader_Title_hot">####</h2>
                    <span>100</span>
                </div>

               <!-- * 인기 리스트 리스트 시작 -->
            <div class="Home_product_recommend_list">
                <div class="Home_product_recommend_p">
                    <a href="" class="href">
                        <div class="Home_product_recommend_p_div">
                            <div>
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/image.jpeg" alt="" width="150px">
                            </div>
                            <div>
                                <button class="Home_product_recommend_p_div_btn zzim_btn" onclick="toggleZzim(event)" onsubmit="return false">
                                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/black2.png" alt="" width="40px" class="Home_product_recommend_p_div_img">
                                </button>
                            </div>
                            <div class="Home_product_recommend_p_font">
                                <div>
                                    <span class="Miniarea">강남/서초</span>
                                    <div>
                                        [인기 리스트 아이템 1]
                                    </div>
                                    <section class="Home_recommend_img">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <span style="font-size: 10px; font-weight: bold; color: rgb(119, 119, 119);">후기 0</span>
                                    </section>
                                    <hr class="Home_recommend_hr">
                                    <div>
                                        100,000원
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="Home_product_recommend_p">
                    <a href="" class="href">
                        <div class="Home_product_recommend_p_div">
                            <div>
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/image.jpeg" alt="" width="150px">
                            </div>
                            <div>
                                <button class="Home_product_recommend_p_div_btn zzim_btn" onclick="toggleZzim(event)" onsubmit="return false">
                                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/black2.png" alt="" width="40px" class="Home_product_recommend_p_div_img">
                                </button>
                            </div>
                            <div class="Home_product_recommend_p_font">
                                <div>
                                    <span class="Miniarea">강남/서초</span>
                                    <div>
                                        [인기 리스트 아이템 2]
                                    </div>
                                    <section class="Home_recommend_img">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <span style="font-size: 10px; font-weight: bold; color: rgb(119, 119, 119);">후기 0</span>
                                    </section>
                                    <hr class="Home_recommend_hr">
                                    <div>
                                        100,000원
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="Home_product_recommend_p">
                    <a href="" class="href">
                        <div class="Home_product_recommend_p_div">
                            <div>
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/image.jpeg" alt="" width="150px">
                            </div>
                            <div>
                                <button class="Home_product_recommend_p_div_btn zzim_btn" onclick="toggleZzim(event)" onsubmit="return false">
                                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/black2.png" alt="" width="40px" class="Home_product_recommend_p_div_img">
                                </button>
                            </div>
                            <div class="Home_product_recommend_p_font">
                                <div>
                                    <span class="Miniarea">강남/서초</span>
                                    <div>
                                        [인기 리스트 아이템 3]
                                    </div>
                                    <section class="Home_recommend_img">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <span style="font-size: 10px; font-weight: bold; color: rgb(119, 119, 119);">후기 0</span>
                                    </section>
                                    <hr class="Home_recommend_hr">
                                    <div>
                                        100,000원
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="Home_product_recommend_p">
                    <a href="" class="href">
                        <div class="Home_product_recommend_p_div">
                            <div>
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/image.jpeg" alt="" width="150px">
                            </div>
                            <div>
                                <button class="Home_product_recommend_p_div_btn zzim_btn" onclick="toggleZzim(event)" onsubmit="return false">
                                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/black2.png" alt="" width="40px" class="Home_product_recommend_p_div_img">
                                </button>
                            </div>
                            <div class="Home_product_recommend_p_font">
                                <div>
                                    <span class="Miniarea">강남/서초</span>
                                    <div>
                                        [인기 리스트 아이템 4]
                                    </div>
                                    <section class="Home_recommend_img">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <span style="font-size: 10px; font-weight: bold; color: rgb(119, 119, 119);">후기 0</span>
                                    </section>
                                    <hr class="Home_recommend_hr">
                                    <div>
                                        100,000원
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="Home_product_recommend_p">
                    <a href="" class="href">
                        <div class="Home_product_recommend_p_div">
                            <div>
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/image.jpeg" alt="" width="150px">
                            </div>
                            <div>
                                <button class="Home_product_recommend_p_div_btn zzim_btn" onclick="toggleZzim(event)" onsubmit="return false">
                                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/black2.png" alt="" width="40px" class="Home_product_recommend_p_div_img">
                                </button>
                            </div>
                            <div class="Home_product_recommend_p_font">
                                <div>
                                    <span class="Miniarea">강남/서초</span>
                                    <div>
                                        [인기 리스트 아이템 5]
                                    </div>
                                    <section class="Home_recommend_img">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <span style="font-size: 10px; font-weight: bold; color: rgb(119, 119, 119);">후기 0</span>
                                    </section>
                                    <hr class="Home_recommend_hr">
                                    <div>
                                        100,000원
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="Home_product_recommend_p">
                    <a href="" class="href">
                        <div class="Home_product_recommend_p_div">
                            <div>
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/image.jpeg" alt="" width="150px">
                            </div>
                            <div>
                                <button class="Home_product_recommend_p_div_btn zzim_btn" onclick="toggleZzim(event)" onsubmit="return false">
                                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/black2.png" alt="" width="40px" class="Home_product_recommend_p_div_img">
                                </button>
                            </div>
                            <div class="Home_product_recommend_p_font">
                                <div>
                                    <span class="Miniarea">강남/서초</span>
                                    <div>
                                        [인기 리스트 아이템 6]
                                    </div>
                                    <section class="Home_recommend_img">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <span style="font-size: 10px; font-weight: bold; color: rgb(119, 119, 119);">후기 0</span>
                                    </section>
                                    <hr class="Home_recommend_hr">
                                    <div>
                                        100,000원
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="Home_product_recommend_p">
                    <a href="" class="href">
                        <div class="Home_product_recommend_p_div">
                            <div>
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/image.jpeg" alt="" width="150px">
                            </div>
                            <div>
                                <button class="Home_product_recommend_p_div_btn zzim_btn" onclick="toggleZzim(event)" onsubmit="return false">
                                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/black2.png" alt="" width="40px" class="Home_product_recommend_p_div_img">
                                </button>
                            </div>
                            <div class="Home_product_recommend_p_font">
                                <div>
                                    <span class="Miniarea">강남/서초</span>
                                    <div>
                                        [인기 리스트 아이템 7]
                                    </div>
                                    <section class="Home_recommend_img">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <span style="font-size: 10px; font-weight: bold; color: rgb(119, 119, 119);">후기 0</span>
                                    </section>
                                    <hr class="Home_recommend_hr">
                                    <div>
                                        100,000원
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="Home_product_recommend_p">
                    <a href="" class="href">
                        <div class="Home_product_recommend_p_div">
                            <div>
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/image.jpeg" alt="" width="150px">
                            </div>
                            <div>
                                <button class="Home_product_recommend_p_div_btn zzim_btn" onclick="toggleZzim(event)" onsubmit="return false">
                                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/black2.png" alt="" width="40px" class="Home_product_recommend_p_div_img">
                                </button>
                            </div>
                            <div class="Home_product_recommend_p_font">
                                <div>
                                    <span class="Miniarea">강남/서초</span>
                                    <div>
                                        [인기 리스트 아이템 8]
                                    </div>
                                    <section class="Home_recommend_img">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <span style="font-size: 10px; font-weight: bold; color: rgb(119, 119, 119);">후기 0</span>
                                    </section>
                                    <hr class="Home_recommend_hr">
                                    <div>
                                        100,000원
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="Home_product_recommend_p">
                    <a href="" class="href">
                        <div class="Home_product_recommend_p_div">
                            <div>
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/image.jpeg" alt="" width="150px">
                            </div>
                            <div>
                                <button class="Home_product_recommend_p_div_btn zzim_btn" onclick="toggleZzim(event)" onsubmit="return false">
                                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/black2.png" alt="" width="40px" class="Home_product_recommend_p_div_img">
                                </button>
                            </div>
                            <div class="Home_product_recommend_p_font">
                                <div>
                                    <span class="Miniarea">강남/서초</span>
                                    <div>
                                        [인기 리스트 아이템 9]
                                    </div>
                                    <section class="Home_recommend_img">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <span style="font-size: 10px; font-weight: bold; color: rgb(119, 119, 119);">후기 0</span>
                                    </section>
                                    <hr class="Home_recommend_hr">
                                    <div>
                                        100,000원
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="Home_product_recommend_p">
                    <a href="" class="href">
                        <div class="Home_product_recommend_p_div">
                            <div>
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/image.jpeg" alt="" width="150px">
                            </div>
                            <div>
                                <button class="Home_product_recommend_p_div_btn zzim_btn" onclick="toggleZzim(event)" onsubmit="return false">
                                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/black2.png" alt="" width="40px" class="Home_product_recommend_p_div_img">
                                </button>
                            </div>
                            <div class="Home_product_recommend_p_font">
                                <div>
                                    <span class="Miniarea">강남/서초</span>
                                    <div>
                                        [인기 리스트 아이템 10]
                                    </div>
                                    <section class="Home_recommend_img">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <span style="font-size: 10px; font-weight: bold; color: rgb(119, 119, 119);">후기 0</span>
                                    </section>
                                    <hr class="Home_recommend_hr">
                                    <div>
                                        100,000원
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="Home_product_recommend_p">
                    <a href="" class="href">
                        <div class="Home_product_recommend_p_div">
                            <div>
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/image.jpeg" alt="" width="150px">
                            </div>
                            <div>
                                <button class="Home_product_recommend_p_div_btn zzim_btn" onclick="toggleZzim(event)" onsubmit="return false">
                                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/black2.png" alt="" width="40px" class="Home_product_recommend_p_div_img">
                                </button>
                            </div>
                            <div class="Home_product_recommend_p_font">
                                <div>
                                    <span class="Miniarea">강남/서초</span>
                                    <div>
                                        [인기 리스트 아이템 11]
                                    </div>
                                    <section class="Home_recommend_img">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <span style="font-size: 10px; font-weight: bold; color: rgb(119, 119, 119);">후기 0</span>
                                    </section>
                                    <hr class="Home_recommend_hr">
                                    <div>
                                        100,000원
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="Home_product_recommend_p">
                    <a href="" class="href">
                        <div class="Home_product_recommend_p_div">
                            <div>
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/image.jpeg" alt="" width="150px">
                            </div>
                            <div>
                                <button class="Home_product_recommend_p_div_btn zzim_btn" onclick="toggleZzim(event)" onsubmit="return false">
                                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/black2.png" alt="" width="40px" class="Home_product_recommend_p_div_img">
                                </button>
                            </div>
                            <div class="Home_product_recommend_p_font">
                                <div>
                                    <span class="Miniarea">강남/서초</span>
                                    <div>
                                        [인기 리스트 아이템 12]
                                    </div>
                                    <section class="Home_recommend_img">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                        <span style="font-size: 10px; font-weight: bold; color: rgb(119, 119, 119);">후기 0</span>
                                    </section>
                                    <hr class="Home_recommend_hr">
                                    <div>
                                        100,000원
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
                    <!--* 인기 아이템 리스트 끝 -->

            <!--* 이전/다음 버튼 -->
            <footer class="Wrapper_Paging">
            <div class="paging">
            <button width="40px" height="40px" color="#3397ff" font-size="18px" font-weight="bold"  onclick="onPageClick(-1)">&lt;</button>
            <button width="40px" height="40px" color="#3397ff" font-size="18px" font-weight="bold"  onclick="onPageClick(1)">1</button>
            <button width="40px" height="40px" color="#3397ff" font-size="18px" font-weight="bold"  onclick="onPageClick(2)">2</button>
            <button width="40px" height="40px" color="#3397ff" font-size="18px" font-weight="bold" onclick="onPageClick(3)">3</button>
            <button width="40px" height="40px" color="#3397ff" font-size="18px" font-weight="bold" onclick="onPageClick(4)">4</button>
            <button width="40px" height="40px" color="#3397ff" font-size="18px" font-weight="bold" onclick="onPageClick(-2)">></button>
            </div>
            </footer>


        </div>

        </div>
    </div>
</div>
</div>

    <script>
    // 페이징 함수
    function paginate(page) {
    var itemsPerPage = 8; // 페이지당 아이템 수
    var items = document.getElementsByClassName('Home_product_recommend_p');
    var numPages = Math.ceil(items.length / itemsPerPage); // 전체 페이지 수

    // 보여줄 아이템 계산
    var start = (page - 1) * itemsPerPage;
    var end = start + itemsPerPage;

    // 아이템 숨기기
    for (var i = 0; i < items.length; i++) {
        items[i].style.display = 'none';
    }

      // 현재 페이지 아이템 보여주기
    for (var j = start; j < end; j++) {
        if (items[j]) {
            items[j].style.display = 'block';
        }
    }
    }

      // 페이지 로드 후 페이징 초기화
        window.onload = function() {
            onPageClick(1);
        };
    
        var currentPage = 1;
    // 페이지 버튼 클릭 이벤트 처리
        function onPageClick(page) {

    // 이전 버튼을 클릭한 경우 currentPage에서 1을 빼줍니다.
    if (page === -1) {
        currentPage = currentPage > 1 ? currentPage - 1 : 1;
    }
    // 다음 버튼을 클릭한 경우 currentPage 1을 더해줍니다.
    else if (page === -2) {
        var numPages = Math.ceil(document.getElementsByClassName('Home_product_recommend_p').length / 8);
        currentPage = currentPage < numPages ? currentPage + 1 : numPages;
    }
    else {
        currentPage = page;
    }

        paginate(currentPage);

        }
    </script>
  



   <!-- 본문 끝 -->





    <!--footer 시작-->
    <footer>
        <div class="footer">
            <div class="footer_wrap">
                <div class="foot_first">
                        운영시간: 평일/주말 10:00 - 17:00 (점심 : 12:00 - 13:00)
                </div>
                <div class="footer_all">
                        광고/제휴: 123456@gmail.com
                </div>
                <div class="footer_all_2">
                            <h2>HabitBroker</h2>
                            <div>대표 : 2조 | 개인정보 관리 책임자 : 모두</div>
                            <div>서울시 강남구 강남역 3번출구 삼성빌딩</div>
                        <div>

                        </div>
                    </div>
                <div class="footer_all_3">
                        <a>이용약관</a> | 
                        <a>개인정보 처리방침</a> | 
                        <a>위치기반 서비스 이용약관</a>
                </div>
                <div class="footer_copy">
                COPYRIGHT &copy;HABIT
                </div>
            </div>
        </div>


    </footer>
    <!--footer 끝-->

    <script>
    $(document).ready(function() {
        const queryString = window.location.href.split("?")[1]; // 쿼리 문자열 가져오기
    const searchParams = new URLSearchParams(queryString);
    const selectedCategory = searchParams.get("category"); // 선택한 카테고리 가져오기

    if (selectedCategory) {
        const productSectionTitle = `인기 ${selectedCategory}`;
        $(".ProductSectionHeader_Title_hot").text(productSectionTitle);
        }
    });
    </script>
    


</body>