.Home_choice_btn{
    width: 100px;
    height: 20px;
    background-color: #dbdbdb;
    color: rgb(66, 66, 66);
    border-radius: 5px;
    border: none;
    margin-left: 12px;
    font-size: 12px;
}

.cartlist1{
    border:1px solid lightgray;
    border-radius:10px;
    margin:10px;
    width:600px;
    border-collapse: separate;
    height:200px;
    display: inline-block;

}

.cartlist2{
    border:1px solid lightgray;
    border-radius:10px;
    margin:10px;
    width:600px;
    border-collapse: separate;
    height:200px;
    display: inline-block;

}



.checkTd{
    display:inline-block;
    margin-right:3px;
}

.item_img {
    width:150px;
    height:150px;
    border-radius: 10px;
    margin:20px;
    --padding-top:20px;
}

.show_pro_info{
    display: inline-block;
    position: relative;
    top: -80px;
    left: -15px
}

.show_pro_info>p{
    margin-bottom: 10px;
}

.img_td{
    width: 210px;
}
.Home_pro_name{
    font-size: 16px;
    font-weight: 600;
    padding-left:30px;
}

tr{
    margin-bottom: 10px;
    border: 0.5px solid #c3c3c3;
    border-radius: 20px;

}

.Home_tr_wrapper{
    border: 0.5px solid #c3c3c3;
    border-radius: 20px;
}

td{
    position: relative;
    --height:150px;
    --display: inline-block;
}


td>p {
    align-items: start;
    font-size: 16px;
    position: relative;
    top:-110px;
    left: -40px;

}

input[type='number']{
    margin:50px;
    width:100px;
    height:30px;
}



.input_result{
    display: inline-block;
    width: 83px;
    border: none;
    text-align: center;
    background-color: white;
    font-weight: 600;
}

.input_result:focus{
    outline: none;
}

.Home_show_qty{
    position: relative;
    top:-105px;
    margin-right:30px;
}

.Home_show_checkBox{
    position: relative;
    top: -200px;
    right: -80px;
    display: inline-block;
}

.Home_qty_btn_min{
    background-color: darkgray;
    color: white;
    border:none;
    width: 40px;
    border-radius: 3px;
}

.Home_qty_btn_plus{
    background-color: hotpink;
    color: white;
    border:none;
    width: 40px;
    border-radius: 3px;
}


.Homw_show_result{
    position: relative;
    margin-bottom: 20px;
}

.go_order{
    width:100px;
    height:40px;
    font-size: medium;
    background-color: #798ef4;
    color:white;
    border-radius: 5px;
    border:none;
    float:right;
    margin-right: 30px;
    position: relative;
    top: -70px;;
}

.order_btn{
    width:100px;
    height:40px;
    font-size: medium;
    background-color: #798ef4;
    color:white;
    border-radius: 5px;
    border:none;
    float:right;
    margin-right: 30px;
    position: relative;
    top: -70px;;
}

.Home_form{
    margin-bottom: 50px;
}

.pro_info{
    width: 265px;
    height: 200px;
    word-break:break-all;
    table-layout:fixed;

}