/* @font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */

@import url(AppleSDGothicNeo800);

body{
    height: 100%;
    font-family: 'SUIT-Regular';
    font: 50px 'AppleSDGothicNeo800', sans-serif;
}

a{
    text-decoration: none;
  }
a:hover{
    text-decoration: none !important;
}

.global1{
    background-color: rgb(230, 230, 230);
    z-index: 12;
    position: relative;
}
.global_topbar{
    --display: inline-block;
    --width: 50%;
    padding:10px 100px;
    width: 870px;
    margin: 0 auto;
    --height: 40px;
    font-size:12px;
    
}
.global_topbar_menu1{
    display: inline-block;
    color: rgb(149, 149, 149);
    font-weight: bold;
}
.global_topbar_menu1>a{
    color: rgb(149, 149, 149);
    font-size: 10px;
    font-weight: bold;
    
}

.global_topbar_menu2{
    display: inline-block;
    float:right;
}

.global_topbar_menu2_menu{
    display: inline-block;
    margin-left:10px ;
    color: rgb(91, 91, 91);
    font-size: 10px;
}

/*=====================topbar2=============================*/

.global2{
    border-bottom: 1.6px solid rgb(234, 234, 234);
    z-index: 12;
    position: relative;
    
}
.global_topbar2{
    --display: inline-block;
    --width: 50%;
    padding:10px 100px;
    width: 870px;
    margin: 0 auto;
    font-size:8px;
    letter-spacing: 1.5px;
    
}
.global_topbar2_menu1{
    display: inline-block;
    
}


.global_topbar2_menu1_a{
    display: inline-block;
    margin-top:7px ;
    text-decoration: none;
    

}
.global_topbar2_menu1_a>div>span{
    text-decoration: none;
}


.global_topbar2_menu1_a_div{
    margin-left: 20px;
    text-align: center;
}

.global_topbar2_menu1_a_log{
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 3px;
}
.global_topbar2_menu1_a_log>div>img{
    display:block;
    margin-right: 10px;
}


.global_topbar2_menu1_a>div>img{
    display:block;
    margin-left: 7px;
    margin-bottom: 5px;
}

.global_topbar2_menu1_a>div>span{
    --padding-left: 7px;
    color: rgb(105, 105, 105);
    font-weight: 600;
    
}



.global_topbar2_menu1_search{
    display: inline-block;
    top:-4px;
    position: relative;
    left: 5px;
}
.global_topbar2_menu1_search >div{
    
    display: inline-block;
    position: relative;
    top:-12px;
}

.global_topbar2_menu1_search>div>form>img{
    position : absolute;
    width: 20px;
    top: 3px;
    left: 10px;
    margin: 0;
}

.global_topbar2_menu1_search_input{
    width: 320px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 5px 35px;
    font-size: 12px;
    color: black;
    --font-weight: 600;
    letter-spacing: 0.5px;
    --margin-bottom: 5px;
}

.global_topbar2_menu1_search_input:focus{
    outline: 1px solid #bbc6ff;
}


.global_topbar2_menu2{
    display: inline-block;
    
    float:right;
}
.global_topbar2_menu2>a{
    text-align: center;
    width: 25px;
    height: 42px;
    display: inline-block;
    margin-left: 12px;
    margin-top: 5px;

}
.global_topbar2_menu2_menu{
    display: inline-block;

    text-align: center;
}

.global_topbar2_menu2_menu>span{
    color: rgb(50, 49, 49);
    --font-weight: 600;
    margin-top: 5px;
    display: inline-block;
    width: 46px;
}





/*호스트 지원배너*/
.Home_smallBanner2{
    height: 120px;
    --background-color: bisque;
    margin-bottom: 30px;
    text-align: center;
}

.Home_smallBanner2>div>a>img{
    width: 738px;;
}

/*검색모달*/
.global_modal{
    position: absolute;
    top: 110px;
    left: 0;

    width: 100%;
    --height: 100%;
    margin:0 auto;
    display: none;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.4);
}

.global_modal_form{
    background-color: white;
    
}

.global_topbar2_search{
    width: 56%;
    height: 100%;
    position:relative;
    top:0px;
    margin: 0 auto 0 auto;
    
    width:740px;
    padding:0 50px 40px 50px;
    --border: 1px solid black;
}

.global_modal_bottom{
    position: relative;
    --height: 100%;
    overflow: hidden;
}

.global_modal_wrapper{
    padding-top: 20px;
}

.global_modal_search{
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 20px;

}

.global_modal_search>div{
    display: inline-block;
}

.global_modal_search_del{
    float: right;
    font-size: 11px;
    font-weight: 600;
    color: rgb(149, 149, 149);
}

.global_modal_searchNew{
    --display: inline-block;
    --margin: 25px 0;
    --width: 66px;
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    --text-align: center;
    padding: 14px 0;
    color: black;
    
}


.global_modal_searchNew:hover{
    background-color: #eceef8;
}

.global_modal_searchResult{
    display: inline-block;
    margin-right:10px;
    width: 66px;
    height: 33px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 9px 0;
    border: 1px solid #617cf5;
    color: #617cf5;
    border-radius: 5px;
}


/* ==============^ 카테고리 ===================*/
.Home{
    
    height: 100%;
    width: 1000px;
    margin: 0 auto;
    padding:0 100px;
    

}
.PageWrapper {
    cursor: default;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    margin: 0px auto;
    max-width: 808px;
    width: 100%;
    padding: 0px 20px;
    min-height: 1px;
}

.Padded {
    cursor: default;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    padding: 0px 42px;
}

.Left-LeftPageTitle{
    cursor: default;
    -webkit-text-size-adjust: 100%;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    margin: 24px 0px 16px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
}

.CategoryList__Wrapper {
    cursor: default;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
    justify-items: center;
}

.Fade_Wrapper {
    cursor: default;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-size: 14px;
    color: black;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    width: auto;
    height: auto;
    transition: opacity 200ms ease-in-out 0s;
    min-width: 0px;
    min-height: 1px;
    opacity: 1;
    display: block;
}

.CategoryItem-A {
line-height: 1.5;
-webkit-text-size-adjust: 100%;
font-size: 14px;
word-break: normal;
overflow-wrap: break-word;
background-repeat: no-repeat;
box-sizing: inherit;
outline: none;
font-family: inherit;
background-color: transparent;
touch-action: manipulation;
color: inherit;
text-decoration: none;
width: 100%;
display: table;
}

.CategoryItem1 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-outdoor_gch4e1");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem2 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-fitness_j83hn7");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem3 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-diy_racpb5");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem4 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-sports_k9xead");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem5 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-baking_ym1bmw");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem6 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-culture_bvlt2h");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem7 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-online_y7roxo");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem8 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-development_f4knbj");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem9 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-beauty_rckkzc");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem10 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-social_l5ypkp");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem11 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/category-store_ygtufv");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem12 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/%E1%84%89%E1%85%B5%E1%86%B7%E1%84%85%E1%85%B5%E1%84%89%E1%85%A1%E1%86%BC%E1%84%83%E1%85%A1%E1%86%B7_%E1%84%8F%E1%85%A1%E1%84%90%E1%85%A6%E1%84%80%E1%85%A9%E1%84%85%E1%85%B5_781c3f80bc5405b62c376e5028924addc30b6a1277cc600245ba83d729d906fb");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem13 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_8_p");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem14 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_14_p");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem15 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_13_p");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem16 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_2_p");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem17 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_18_p");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}

.CategoryItem18 {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    display: flex;
    align-items: flex-end;
    height: 77px;
    border-radius: 5px;
    padding: 6px 10px;
    background-image: url("https://res.cloudinary.com/frientrip/image/upload/c_fill,dpr_2,f_auto,h_77,q_auto,w_162/v1/categories/display_category_17_p");
    background-color: rgb(244, 244, 244);
    background-size: cover;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    position: relative;
}


  .CategoryItem__Background {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    opacity: 0.2;
    background-color: rgb(17, 17, 17);
    height: 100%;
    width: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    border-radius: 5px;
}

.CategoryItem__Text {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    overflow-wrap: break-word;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.48px;
    background-repeat: no-repeat;
    box-sizing: inherit;
    outline: none;
    font-family: inherit;
    opacity: 0.2;
    background-image: linear-gradient(to right, rgb(3, 0, 0), rgba(2, 0, 0, 0.52), rgba(0, 0, 0, 0));
    width: 94px;
    height: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    border-radius: 5px;
} 

.CategoryItem1 > span {
    z-index: 1;
}
.CategoryItem2 > span {
    z-index: 1;
}
.CategoryItem3 > span {
    z-index: 1;
}
.CategoryItem4 > span {
    z-index: 1;
}
.CategoryItem5 > span {
    z-index: 1;
}
.CategoryItem6 > span {
    z-index: 1;
}
.CategoryItem7 > span {
    z-index: 1;
}
.CategoryItem8 > span {
    z-index: 1;
}
.CategoryItem9 > span {
    z-index: 1;
}
.CategoryItem10 > span {
    z-index: 1;
}
.CategoryItem11 > span {
    z-index: 1;
}
.CategoryItem12 > span {
    z-index: 1;
}
.CategoryItem13 > span {
    z-index: 1;
}
.CategoryItem14 > span {
    z-index: 1;
}
.CategoryItem15 > span {
    z-index: 1;
}
.CategoryItem16 > span {
    z-index: 1;
}
.CategoryItem17 > span {
    z-index: 1;
}
.CategoryItem18 > span {
    z-index: 1;
}






/*==================FOOTER===============*/
.footer{
    font-size: 14px;
    width: 100%;
    height: 350px;
    --display:inline-block;
    background-color: #f2f6fc;
    --padding-left:340px;
    --padding-top: 40px;
    --margin-top: 20px;
    margin:20px auto 0 auto;

}
.footer_wrap{

    width: 768px;
    padding: 50px 60px 24px 60px;
    margin:20px auto 0 auto;
    
}
.foot_fist{
}

.footer_all{
    margin-top: 40px;
}

.footer_all_2{
    margin-top: 40px;
}
.footer_all_2>div{
    margin-top: 10px;
}

.footer_all_3{
    margin-top:40px;
    
}
.footer_all_3>a{
    color:#000000;
}

.footer_copy{
    margin-top: 10px;
}


