@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    height: 100%;
    font-family: 'SUIT-Regular';
}

a{
    text-decoration: none;
  }
a:hover{
    text-decoration: none !important;
}

.global1{
    background-color: rgb(230, 230, 230);
    z-index: 12;
    position: relative;
}
.global_topbar{
    --display: inline-block;
    --width: 50%;
    padding:10px 100px;
    width: 870px;
    margin: 0 auto;
    --height: 40px;
    font-size:12px;
    
}
.global_topbar_menu1{
    display: inline-block;
    color: rgb(149, 149, 149);
    font-weight: bold;
}
.global_topbar_menu1>a{
    color: rgb(149, 149, 149);
    font-size: 10px;
    font-weight: bold;
    
}

.global_topbar_menu2{
    display: inline-block;
    float:right;
}

.global_topbar_menu2_menu{
    display: inline-block;
    margin-left:10px ;
    color: rgb(91, 91, 91);
    font-size: 10px;
}

/*=====================topbar2=============================*/

.global2{
    border-bottom: 1.6px solid rgb(234, 234, 234);
    z-index: 12;
    position: relative;
    
}
.global_topbar2{
    --display: inline-block;
    --width: 50%;
    padding:10px 100px;
    width: 870px;
    margin: 0 auto;
    font-size:8px;
    letter-spacing: 1.5px;
    
}
.global_topbar2_menu1{
    display: inline-block;
    
}


.global_topbar2_menu1_a{
    display: inline-block;
    margin-top:7px ;
    text-decoration: none;
    

}
.global_topbar2_menu1_a>div>span{
    text-decoration: none;
}


.global_topbar2_menu1_a_div{
    margin-left: 20px;
    text-align: center;
}

.global_topbar2_menu1_a_log{
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 3px;
}
.global_topbar2_menu1_a_log>div>img{
    display:block;
    margin-right: 10px;
}


.global_topbar2_menu1_a>div>img{
    display:block;
    margin-left: 7px;
    margin-bottom: 5px;
}

.global_topbar2_menu1_a>div>span{
    --padding-left: 7px;
    color: rgb(105, 105, 105);
    font-weight: 600;
    
}



.global_topbar2_menu1_search{
    display: inline-block;
    top:-4px;
    position: relative;
    left: 5px;
}
.global_topbar2_menu1_search >div{
    
    display: inline-block;
    position: relative;
    top:-12px;
}

.global_topbar2_menu1_search>div>form>img{
    position : absolute;
    width: 20px;
    top: 3px;
    left: 10px;
    margin: 0;
}

.global_topbar2_menu1_search_input{
    width: 320px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    padding: 5px 35px;
    font-size: 12px;
    color: black;
    --font-weight: 600;
    letter-spacing: 0.5px;
    --margin-bottom: 5px;
}

.global_topbar2_menu1_search_input:focus{
    outline: 1px solid #bbc6ff;
}


.global_topbar2_menu2{
    display: inline-block;
    
    float:right;
}
.global_topbar2_menu2>a{
    text-align: center;
    width: 25px;
    height: 42px;
    display: inline-block;
    margin-left: 14px;
    margin-top: 5px;

}
.global_topbar2_menu2_menu{
    display: inline-block;

    text-align: center;
}

.global_topbar2_menu2_menu>span{
    color: rgb(50, 49, 49);
    --font-weight: 600;
    margin-top: 5px;
    display: inline-block;

    width: 46px;
}

.global_modal{
    position: absolute;
    top: 74px;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 3882%;
    margin:0 auto;
    display: none;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.4);
}

.global_modal_form{
    background-color: white;
    
}

.global_topbar2_search{
    width: 56%;
    height: 100%;
    position:relative;
    top:0px;
    margin: 0 auto 0 auto;
    
    width:740px;
    padding:0 50px 40px 50px;
    --border: 1px solid black;
}

.global_modal_bottom{
    position: relative;
    --height: 100%;
    overflow: hidden;
}

.global_modal_wrapper{
    padding-top: 20px;
}

.global_modal_search{
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 20px;

}

.global_modal_search>div{
    display: inline-block;
}

.global_modal_search_del{
    float: right;
    font-size: 11px;
    font-weight: 600;
    color: rgb(149, 149, 149);
}

.global_modal_searchNew{
    --display: inline-block;
    --margin: 25px 0;
    --width: 66px;
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    --text-align: center;
    padding: 14px 0;
    color: black;
    
}


.global_modal_searchNew:hover{
    background-color: #eceef8;
}

.global_modal_searchResult{
    display: inline-block;
    margin-right:10px;
    width: 66px;
    height: 33px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 9px 0;
    border: 1px solid #617cf5;
    color: #617cf5;
    border-radius: 5px;
}


/*========모달창=============*/

.intro_modal{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 2977px;

    display: none;
    z-index: 15;

    background-color: rgba(0, 0, 0, 0.4);
}

.intro_modal_body{
    position: sticky;
    top: 45%;
    left: 50%;
  
    width: 400px;
    height: 550px;
  
    --padding: 40px;
  
    text-align: center;
  
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  
    transform: translateX(-50%) translateY(-50%);
  }

  .intro_modal_container{
    height: 500px;
  }

  .intro_modal_img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .intro_modal_enjoy_btn{
    position: absolute;
    top:427px;
    width: 340px;
    left: 30px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .intro_modal_enjoy_btn:hover{
    background-color: #fbeaff;
  }

  .intro_modal_btn{
    position:relative;
    --top:530px;
    background-color: #ffffff;
    height:50px;
    font-size: 14px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }


  .intro_modal_btn>div, .intro_modal_btn>a>div{
    display: inline-block;
    width: 49.5%;
    color: black;
    padding-top: 12px;
    box-sizing: border-box;
  }

/*================주 컨텐츠 ========================*/
.Home{
    height: 100%;
   

}

.Home_wrapper{
    width: 780px;
    margin: 0 auto;
    padding:0 20px;  
}


/*이미지 슬라이더*/
.Home_banner{
    margin-bottom: 25px;

}

.Home_slider{
   position: relative;
}

.slider {
    margin: 0 auto;
    width: 800px;
    max-width: 100%;
    text-align: center;
  }
  
  #slider input[type=radio] {
    display: none;
  }
  
  #slider label {
    cursor: pointer;
    text-decoration: none;
  }
  
  #slides {
    --padding: 10px;
    --border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  #overflow {
    width: 100%;
    overflow: hidden;
  }
  

  
  #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.0770, 0.000, 0.175, 1.000);
    width: 600%;
    line-height: 0;
    height: 300px;
  } 
  
  #slides .slide {
    width: 740px; 
    float: left;
    --display: flex;
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    position: relative;
    transition:transform 0.5s;
    transform: translate(-740px);
  }
  
  
  .slide-content {
    --padding: 10px;
  }

  .slide-content>p>img{
    width: 740px;
    height: 294px;
  }

  .controller span{
    position:absolute;
    background-color: transparent;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 42%;
    font-size: 1.3em;
    cursor: pointer;
    z-index: 10;
  }
  
  /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
  .controller span:hover{
    --background-color: rgba(128, 128, 128, 0.11);
  }
  
  .prev{
    left: 0.5%;
    display: inline-block;
   --background-color: white;
  }
  
  /* 이전 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
  .prev:hover{
    transform: translateX(-10px);
  }
  
  .next{
    right: 0.5%;
  }
  
  /* 다음 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
  .next:hover{
    transform: translateX(10px);
  }

/*====================배너 끝==================*/
/*아이콘*/
.Home_icon{
    margin-bottom: 20px;
}
  
.Home_icon_wrapper{
    
    height: 100px;
    --background-color: aqua;
    display: block;
}

.Home_icon_container{
    height: 100%;
    margin: 10px auto 0 auto;
    
    width: 97%;
    text-align: center;
}
 
.Home_icon1_a{
    display: inline-block;
    height: 100%;
    padding:0 5px;
    width:640px/7;
}
.Home_icon1_div{
    display: inline-block;
    height: 100%;
    width: 75px;
    text-align: center;
    font-size: 12px;
}

.Home_icon1_div>img{
    display: inline-block;
    border-radius: 100%;
    --border: 1px solid black;
    width:55px;
}
.Home_icon1_div>span{
    display: block;
    margin-top: 5px;
    font-weight: 600;
    color: rgb(149, 149, 149);
}


/*MD추천*/

.Home_product_recommend{
    height: 420px;
    --border: 1px solid saddlebrown ;
    margin-bottom: 25px;
}


.Home_product_recommend_wrapper{
   

}

.Home_product_recommend_wrapper>div>div{
    margin-bottom: 30px;
}

.Home_product_recommend_font1{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
}

.Home_product_recommend_font2{
    display: inline-block;
    float: right;
    font-weight: 600;
}

.Home_product_recommend_font2>a{
    color: black;
}

.Home_product_recommend_list{
    width: 100%;
    margin: 20px 0;
    height: 380px;
    --background-color: #bbb;
}

.Home_product_recommend_p{
    width: calc(100%/4);
    height: 350px;
    --border: 1px solid coral;
    display: inline-block;
    float: left;
    padding: 7px;
}

.Home_product_recommend_p_div{
    text-align: center;
}

.Home_product_recommend_p_div>div>img{
    border:1px solid black;
    border-radius: 5%;
}
.Home_product_recommend_p_div_btn{
    background-color:transparent;
    border:none;
    transform: translate(20px,-50px);
    position: absolute;
    height: 35px;
    width: 40px;
    
}
.Home_product_recommend_p_div_img{
    --background-color: rgba(255,255,255,0.75);
    background-color: transparent;
    filter: drop-shadow(2px 2px 2px #a3a3a3);
    --transform: translateY(-50px);
    --transform: translate(30px,-50px);
   
}

.Home_product_recommend_p_font{
    padding-top: 10px;
    font-size: 14px;
    text-align: left;
    padding: 13px;
    color: black;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.Miniarea {
    display: block;
    color: rgb(119, 119, 119);
    font-size: 10px;
    font-weight: bold;
    line-height: 14px;
    margin: 0px 0px 8px;
}

.Home_recommend_star{
    width: 11px;
    display: inline-block;
}

/*글자 오버프로우시 ...  표시*/
.Home_product_recommend_p_font>div>div{
    margin-bottom: 25px;
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    --line-height: 1.2;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2 ;
    -webkit-box-orient: vertical;
    
}

.Home_recommend_img{
    margin-bottom: 5px;
    display: block;
}

.Home_recommend_hr{
    margin:10px 0;
}
/*작은배너*/
  
.Home_smallBanner{
    height: 120px;
    --background-color: bisque;
    margin-bottom: 25px;
}

.Home_smallBanner_img{
    width: 740px;
    display: flex;
}



.Home_product_recommend_list2{
    width: 100%;
    margin: 20px 0 30px;
    height: 380px;
    --background-color: #bbb;
}







/*호스트 지원배너*/
.Home_smallBanner2{
    height: 120px;
    --background-color: bisque;
    margin-bottom: 30px;
    text-align: center;
}

.Home_smallBanner2>div>a>img{
    width: 738px;;
}









/*==================FOOTER===============*/
.footer{
    font-size: 14px;
    width: 100%;
    height: 350px;
    --display:inline-block;
    background-color: #f2f6fc;
    --padding-left:340px;
    --padding-top: 40px;
    --margin-top: 20px;
    margin:20px auto 0 auto;

}
.footer_wrap{

    width: 768px;
    padding: 50px 60px;
    margin:20px auto 0 auto;
    
}
.footer_fist{
}

.footer_all{
    margin-top: 40px;
}

.footer_all_2{
    margin-top: 40px;
}
.footer_all_2>div{
    margin-top: 10px;
}

.footer_all_3{
    margin-top:40px;
    
}
.footer_all_3>a{
    color:#000000;
}

.footer_copy{
    margin-top: 10px;
}


