.show_payed_finish{
    margin-bottom: 50px;
}

#paydone_img{
    width:70px;
    height:70px;
    margin:auto;
    display:block;
    margin-bottom: 20px;
}

.payed_btn_con{
    width: 100%;
    --height: 100%;
    margin-top: 10px;
    
}

.payed_btn_wrapper{
    width: 200px;
    --float: right;
    margin: 0 0 0 auto;
    
    
} 

#continue_shop_btn{
    width: 200px;
    height:50px;
    background-color: hotpink;
    color:white;
    border-radius: 10px;
    border: none;
}

#orderlist_img1{
    width:150px;
    height:150px;
    border-radius: 20%;
    display: inline-block;
}

.show_proinfo{
    display: inline-block;
    position: relative;
    top:-50px;
}

.show_price_wrapper{
    display: block;
}

#payed_price{
    font-size: 17px;
    font-weight: 600;
    padding-top: 10px;
    margin:10px 30px;
    
}

.Home_sub{
    padding-top: 15px;
    margin:10px 30px;
    font-weight: bold;
    display: block;
}

