<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/reset.css?after">
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/eventList.css?after">
  <script src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/js/eventList.js?after"></script>
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/modal.css">


  
</head>
<body> 
    <!--헤더시작--> 
    <header>
      <div class="global1">
        <div class="global_topbar">
            <div class="global_topbar_menu1" >
            <a href=""><div class="global_topbar_menu1_menu">호스트지원</div></a>
            </div>
            <div class="global_topbar_menu2" >
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">회원가입</div></a>
            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/login.html" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">로그인</div></a>
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">자주 묻는 질문</div></a>
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">공지사항</div></a>
            </div>
        </div>
      </div>

      <!--topvar2-->
      <div class="global2">
        <div class="global_topbar2">
            <div class="global_topbar2_menu1">
                <a href="" class="global_topbar2_menu1_a">
                    <div>
                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/cate.png" alt="" width="25px"  >
                        <span>카테고리</span>
                    </div>
                </a>
                
                <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/intro.html" class="global_topbar2_menu1_a_log">
                    <div class="global_topbar2_menu1_a_div">
                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/logo%20(2).png" alt="로고" width="70px" >
                    </div>         
                </a>

                <div class="global_topbar2_menu1_search">
                    <div>
                        <form action="">
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/search.png" alt="로고" >
                            <input type="text" class="global_topbar2_menu1_search_input search_input" placeholder="지금 생각나는 취미를 검색하세요.">
                        </form>
                    </div>
                </div>
            </div>

            <div class="global_topbar2_menu2">
                <a href="">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/feed.png" alt="로고" width="25px" >
                        </div>
                        <span>피드</span>
                    </div>
                </a>
                <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/zzim.html">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/heartforpage.png" alt="로고" width="25px" >
                        </div>
                        <span>찜</span>
                    </div>
                </a>
                <a href="cart.html">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/cart2.png" alt="로고" width="25px" >
                        </div>
                        <span>장바구니</span>
                    </div>
                </a>
                <a href="">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ME.png" alt="로고" width="25px">
                        </div>
                        <span>마이</span>
                    </div>
                </a>
            </div>
        </div>
      </div>

      <div class="global_modal">
        <div class="global_modal_form">
            <div class="global_topbar2_search">
                <div class="global_modal_wrapper">
                    <div>
                        <section>
                            <div class="global_modal_search">
                                <div>최근검색어</div>
                                <a href="#"><div class="global_modal_search_del">지우기</div></a>
                            </div>
                    
                            <a href="#"><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                        </section>
                        <hr>
                        <section>
                            <div class="global_modal_search">인기검색어</div>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                        </section>
                       
                    </div>
                </div>
            </div>
            
        </div>
        <div class="global_modal_bottom"></div>
    </div>
    </header>

    <!--헤더끝-->

    <!-- 본문 시작 -->

    <div class="Home">
        <div class="Home_sub">이벤트</div>
        <hr>
        <div class="Home_event_container">
            <div class="show_list">
                <div class="Home_event_wrapper" >
                    <div class="Home_event_imgCon"><img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eventList.png" alt="" class="Home_event_img"></div>
                    <div class="Home_event_sub">설문조사 참여하고 에너지 3000원 받자!</div>
                    <div class="Home_event_date">2018-09-27 22:09</div>
                </div>
                <div class="Home_event_content">
                    <div class="Home_event_content_wrapper">
                        <p class="Home_event_content_sub">설문 조사 이벤트</p>
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ask2.png" alt="" class="Home_event_content_img">
                            <button class="Home_event_content_btn" onclick="location.href='survey.html';">참여하기</button>
                        </div>
                        <div class="Home_event_content_info">
                            <div>
                                <div>✅이벤트 내용 :</div>
                                <div>
                                    설문조사 이벤트 참여시 에너지 2000포인트를 적립해드려요!
                                </div>
                            </div>
                            <div>
                                <div>✅ 설문조사 기간 :</div>
                                <div>
                                    6월 1일 ~ 6월 3일
                                </div>
                            </div>

                            <div>
                                <div>✅ 에너지 적립 조건 :</div>
                                <div class="Home_event_bottom">
                                    1. 이벤트 적용 기간에 한해 적립 <br>
                                    2. 설문조사 완료 후 10분 이내 적립 예정
                                </div>
                            </div>
                            
                        </div>

                        <div class="Home_event_close">
                            닫기
                        </div>
                    </div>
                </div>
            </div>

            <div class="show_list">
                <div class="Home_event_wrapper">
                    <div class="Home_event_imgCon"><img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eventList.png" alt="" class="Home_event_img"></div>
                    <div class="Home_event_sub">친구 초대 이벤트 2000원 받자!</div>
                    <div class="Home_event_date">2018-09-27 22:09</div>
                </div>
                <div class="Home_event_content">
                    <div class="Home_event_content_wrapper">
                        <p class="Home_event_content_sub">친구 초대 이벤트</p>
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/event2.png" alt="" class="Home_event_content_img">
                            <button class="Home_event_content_btn" onclick="location.href='survey.html';">참여하기</button>
                        </div>
                        <div class="Home_event_content_info">
                            <div>
                                <div>✅이벤트 내용 :</div>
                                <div>
                                    친구 초대시 친구와 함께 에너지 2000포인트 적립!
                                </div>
                            </div>
                            <div>
                                <div>✅ 에너지 적립 조건 :</div>
                                <div class="Home_event_bottom">
                                    1. 1회에 한해 적립 <br>
                                    2. 설문조사 완료 후 10분 이내 적립 예정
                                </div>
                            </div>
                            
                        </div>

                        <div class="Home_event_close">
                            닫기
                        </div>
                    
                    </div>
                </div>
            </div>

            <div class="show_list">
                <div class="Home_event_wrapper" >
                    <div class="Home_event_imgCon"><img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eventList.png" alt="" class="Home_event_img"></div>
                    <div class="Home_event_sub">설문조사 참여하고 에너지 3000원 받자!</div>
                    <div class="Home_event_date">2018-09-27 22:09</div>
                </div>
                <div class="Home_event_content">
                    <div class="Home_event_content_wrapper">
                        <p class="Home_event_content_sub">설문 조사 이벤트</p>
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ask2.png" alt="" class="Home_event_content_img">
                            <button class="Home_event_content_btn" onclick="location.href='survey.html';">참여하기</button>
                        </div>
                        <div class="Home_event_content_info">
                            <div>
                                <div>✅이벤트 내용 :</div>
                                <div>
                                    설문조사 이벤트 참여시 에너지 2000포인트를 적립해드려요!
                                </div>
                            </div>
                            <div>
                                <div>✅ 설문조사 기간 :</div>
                                <div>
                                    6월 1일 ~ 6월 3일
                                </div>
                            </div>

                            <div>
                                <div>✅ 에너지 적립 조건 :</div>
                                <div class="Home_event_bottom">
                                    1. 이벤트 적용 기간에 한해 적립 <br>
                                    2. 설문조사 완료 후 10분 이내 적립 예정
                                </div>
                            </div>
                            
                        </div>

                        <div class="Home_event_close">
                            닫기
                        </div>
                    </div>
                </div>
            </div>

            <div class="show_list">
                <div class="Home_event_wrapper" >
                    <div class="Home_event_imgCon"><img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eventList.png" alt="" class="Home_event_img"></div>
                    <div class="Home_event_sub">설문조사 참여하고 에너지 3000원 받자!</div>
                    <div class="Home_event_date">2018-09-27 22:09</div>
                </div>
                <div class="Home_event_content">
                    <div class="Home_event_content_wrapper">
                        <p class="Home_event_content_sub">설문 조사 이벤트</p>
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ask2.png" alt="" class="Home_event_content_img">
                            <button class="Home_event_content_btn" onclick="location.href='survey.html';">참여하기</button>
                        </div>
                        <div class="Home_event_content_info">
                            <div>
                                <div>✅이벤트 내용 :</div>
                                <div>
                                    설문조사 이벤트 참여시 에너지 2000포인트를 적립해드려요!
                                </div>
                            </div>
                            <div>
                                <div>✅ 설문조사 기간 :</div>
                                <div>
                                    6월 1일 ~ 6월 3일
                                </div>
                            </div>

                            <div>
                                <div>✅ 에너지 적립 조건 :</div>
                                <div class="Home_event_bottom">
                                    1. 이벤트 적용 기간에 한해 적립 <br>
                                    2. 설문조사 완료 후 10분 이내 적립 예정
                                </div>
                            </div>
                            
                        </div>

                        <div class="Home_event_close">
                            닫기
                        </div>
                    </div>
                </div>
            </div>

            <div class="show_list">
                <div class="Home_event_wrapper" >
                    <div class="Home_event_imgCon"><img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eventList.png" alt="" class="Home_event_img"></div>
                    <div class="Home_event_sub">설문조사 참여하고 에너지 3000원 받자!</div>
                    <div class="Home_event_date">2018-09-27 22:09</div>
                </div>
                <div class="Home_event_content">
                    <div class="Home_event_content_wrapper">
                        <p class="Home_event_content_sub">설문 조사 이벤트</p>
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ask2.png" alt="" class="Home_event_content_img">
                            <button class="Home_event_content_btn" onclick="location.href='survey.html';">참여하기</button>
                        </div>
                        <div class="Home_event_content_info">
                            <div>
                                <div>✅이벤트 내용 :</div>
                                <div>
                                    설문조사 이벤트 참여시 에너지 2000포인트를 적립해드려요!
                                </div>
                            </div>
                            <div>
                                <div>✅ 설문조사 기간 :</div>
                                <div>
                                    6월 1일 ~ 6월 3일
                                </div>
                            </div>

                            <div>
                                <div>✅ 에너지 적립 조건 :</div>
                                <div class="Home_event_bottom">
                                    1. 이벤트 적용 기간에 한해 적립 <br>
                                    2. 설문조사 완료 후 10분 이내 적립 예정
                                </div>
                            </div>
                            
                        </div>

                        <div class="Home_event_close">
                            닫기
                        </div>
                    </div>
                </div>
            </div>

                        
            <div class="Home_show_con_btn">
                <button class="Home_show_more show_btn">더보기</button>
            </div>

        </div>
    </div>

    <!-- 본문 끝-->

<!--footer 시작-->
    <footer>
        <div class="footer">
            <div class="footer_wrap">
                <div class="foot_first">
                        운영시간: 평일/주말 10:00 - 17:00 (점심 : 12:00 - 13:00)
                </div>
                <div class="footer_all">
                        광고/제휴: 123456@gmail.com
                </div>
                <div class="footer_all_2">
                            <h2>HabitBroker</h2>
                            <div>대표 : 2조 | 개인정보 관리 책임자 : 모두</div>
                            <div>서울시 강남구 강남역 3번출구 삼성빌딩</div>
                        <div>

                        </div>
                    </div>
                <div class="footer_all_3">
                        <a>이용약관</a> | 
                        <a>개인정보 처리방침</a> | 
                        <a>위치기반 서비스 이용약관</a>
                </div>
                <div class="footer_copy">
                COPYRIGHT &copy;HABIT
                </div>
            </div>
        </div>
    </footer>
    <!--footer 끝-->

   


  
</body>