<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/reset.css?after">
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/review.css?after">
  <script src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/js/review.js?after"></script>
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/modal.css">
</head>
<body> 
    <!--헤더시작--> 
    <header>
      <div class="global1">
        <div class="global_topbar">
            <div class="global_topbar_menu1" >
            <a href=""><div class="global_topbar_menu1_menu">호스트지원</div></a>
            </div>
            <div class="global_topbar_menu2" >
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">회원가입</div></a>
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">로그인</div></a>
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">자주 묻는 질문</div></a>
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">공지사항</div></a>
            </div>
        </div>
      </div>
      <!--topvar2-->
      <div class="global2">
        <div class="global_topbar2">
            <div class="global_topbar2_menu1">
                <a href="" class="global_topbar2_menu1_a">
                    <div>
                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/cate.png" alt="" width="25px"  >
                        <span>카테고리</span>
                    </div>
                </a>
                
                <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/intro.html" class="global_topbar2_menu1_a_log">
                    <div class="global_topbar2_menu1_a_div">
                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/logo%20(2).png" alt="로고" width="70px" >
                    </div>         
                </a>

                <div class="global_topbar2_menu1_search">
                    <div>
                        <form action="search.html">
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/search.png" alt="로고" >
                            <input type="text" class="global_topbar2_menu1_search_input search_input" placeholder="지금 생각나는 취미를 검색하세요.">
                        </form>
                    </div>
                </div>
            </div>

            <div class="global_topbar2_menu2">
                <a href="">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/feed.png" alt="로고" width="25px" >
                        </div>
                        <span>피드</span>
                    </div>
                </a>
                <a href="">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/heartforpage.png" alt="로고" width="25px" >
                        </div>
                        <span>찜</span>
                    </div>
                </a>
                <a href="cart.html">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/cart2.png" alt="로고" width="25px" >
                        </div>
                        <span>장바구니</span>
                    </div>
                </a>
                <a href="">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ME.png" alt="로고" width="25px">
                        </div>
                        <span>마이</span>
                    </div>
                </a>
            </div>
        </div>
      </div>

      <div class="global_modal">
        <div class="global_modal_form">
            <div class="global_topbar2_search">
                <div class="global_modal_wrapper">
                    <div>
                        <section>
                            <div class="global_modal_search">
                                <div>최근검색어</div>
                                <a href="#"><div class="global_modal_search_del">지우기</div></a>
                            </div>
                    
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                        </section>
                        <hr>
                        <section>
                            <div class="global_modal_search">인기검색어</div>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                        </section>
                       
                    </div>
                </div>
            </div>
            
        </div>
        <div class="global_modal_bottom"></div>
    </div>
    </header>

    <!--헤더끝-->

    <!-- 본문 시작 -->

    <div class="Home">
        <div style="margin: 30px 0px 20px 0px; display: flex; justify-content: space-between">
            <span style="font-size:20px; font-weight: 600;">후기 456개</span>
            <span>
                <select name="" id="" class="select_option">
                    <option value="">평점 높은순</option>
                    <option value="">최신순</option>
                </select>
            </span>
        </div>
        <div>
            <section class="Home_recommend_img">
                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
            </section>
        </div>
        <hr>
        <div>
            <div>
                <div style="display: flex; align-items: center; margin-bottom: 20px;">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ME.png" style="border-radius: 40px; width: 40px; height: 40px; background-color: rgb(0, 0, 0);"></img>
                    <div style="margin-left: 15px;">
                        <div>yoyo</div>
                        <span>
                            <section class="Home_recommend_img">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/halfstar.png" alt="" class="Home_recommend_star">
                            </section>
                        </span>
                        <span style="font-size: small;">2023년 5월 6일 19:26 작성</span>
                    </div>
                </div>
                <div style="font-size: 13px; margin-bottom: 15px;">노래를 잘하고 싶지만 특별히 배울 기회나 시간이 없어 생각만 가지고 있던 차에 프립 어플을 알게 되어 신청했습니다! 처음엔 조금 부끄러웠지만 편하게 해주셔서 금방 적응했어요! 기초적인 부분부터 차근차근 알려주셔서 좋았습니당</div>
                <div style="font-size: 11px; margin-bottom: 5px;">보컬레슨, 녹음하며 정복하자! (예약 가능)</div>
                <div style="font-size: 11px; margin-bottom: 10px;">원데이 녹음+보컬레슨 (60분)</div>
                <div class="show_img_wrapper">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eggtart.jpg" alt="" class="show_review_img">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eggtart.jpg" alt="" class="show_review_img">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eggtart.jpg" alt="" class="show_review_img">
                </div>
                <hr>
            </div>
        

            <div>
                <div style="display: flex; align-items: center; margin-bottom: 20px;">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ME.png" style="border-radius: 40px; width: 40px; height: 40px; background-color: rgb(0, 0, 0);"></img>
                    <div style="margin-left: 15px;">
                        <div>yoyo</div>
                        <span>
                            <section class="Home_recommend_img">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/halfstar.png" alt="" class="Home_recommend_star">
                            </section>
                        </span>
                        <span style="font-size: small;">2023년 5월 6일 19:26 작성</span>
                    </div>
                </div>
                <div style="font-size: 13px; margin-bottom: 15px;">노래를 잘하고 싶지만 특별히 배울 기회나 시간이 없어 생각만 가지고 있던 차에 프립 어플을 알게 되어 신청했습니다! 처음엔 조금 부끄러웠지만 편하게 해주셔서 금방 적응했어요! 기초적인 부분부터 차근차근 알려주셔서 좋았습니당</div>
                <div style="font-size: 11px; margin-bottom: 5px;">보컬레슨, 녹음하며 정복하자! (예약 가능)</div>
                <div style="font-size: 11px; margin-bottom: 10px;">원데이 녹음+보컬레슨 (60분)</div>
                <div class="show_img_wrapper">
                </div>
                <hr>
            </div>

            <div>
                <div style="display: flex; align-items: center; margin-bottom: 20px;">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ME.png" style="border-radius: 40px; width: 40px; height: 40px; background-color: rgb(0, 0, 0);"></img>
                    <div style="margin-left: 15px;">
                        <div>yoyo</div>
                        <span>
                            <section class="Home_recommend_img">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/halfstar.png" alt="" class="Home_recommend_star">
                            </section>
                        </span>
                        <span style="font-size: small;">2023년 5월 6일 19:26 작성</span>
                    </div>
                </div>
                <div style="font-size: 13px; margin-bottom: 15px;">노래를 잘하고 싶지만 특별히 배울 기회나 시간이 없어 생각만 가지고 있던 차에 프립 어플을 알게 되어 신청했습니다! 처음엔 조금 부끄러웠지만 편하게 해주셔서 금방 적응했어요! 기초적인 부분부터 차근차근 알려주셔서 좋았습니당</div>
                <div style="font-size: 11px; margin-bottom: 5px;">보컬레슨, 녹음하며 정복하자! (예약 가능)</div>
                <div style="font-size: 11px; margin-bottom: 10px;">원데이 녹음+보컬레슨 (60분)</div>
                <div class="show_img_wrapper">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eggtart.jpg" alt="" class="show_review_img">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eggtart.jpg" alt="" class="show_review_img">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eggtart.jpg" alt="" class="show_review_img">
                </div>
                <hr>
            </div>

            <div>
                <div style="display: flex; align-items: center; margin-bottom: 20px;">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ME.png" style="border-radius: 40px; width: 40px; height: 40px; background-color: rgb(0, 0, 0);"></img>
                    <div style="margin-left: 15px;">
                        <div>yoyo</div>
                        <span>
                            <section class="Home_recommend_img">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/halfstar.png" alt="" class="Home_recommend_star">
                            </section>
                        </span>
                        <span style="font-size: small;">2023년 5월 6일 19:26 작성</span>
                    </div>
                </div>
                <div style="font-size: 13px; margin-bottom: 15px;">노래를 잘하고 싶지만 특별히 배울 기회나 시간이 없어 생각만 가지고 있던 차에 프립 어플을 알게 되어 신청했습니다! 처음엔 조금 부끄러웠지만 편하게 해주셔서 금방 적응했어요! 기초적인 부분부터 차근차근 알려주셔서 좋았습니당</div>
                <div style="font-size: 11px; margin-bottom: 5px;">보컬레슨, 녹음하며 정복하자! (예약 가능)</div>
                <div style="font-size: 11px; margin-bottom: 10px;">원데이 녹음+보컬레슨 (60분)</div>
                <div class="show_img_wrapper">
                </div>
                <hr>
            </div>

            <div>
                <div style="display: flex; align-items: center; margin-bottom: 20px;">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ME.png" style="border-radius: 40px; width: 40px; height: 40px; background-color: rgb(0, 0, 0);"></img>
                    <div style="margin-left: 15px;">
                        <div>yoyo</div>
                        <span>
                            <section class="Home_recommend_img">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/star.png" alt="" class="Home_recommend_star">
                                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/halfstar.png" alt="" class="Home_recommend_star">
                            </section>
                        </span>
                        <span style="font-size: small;">2023년 5월 6일 19:26 작성</span>
                    </div>
                </div>
                <div style="font-size: 13px; margin-bottom: 15px;">노래를 잘하고 싶지만 특별히 배울 기회나 시간이 없어 생각만 가지고 있던 차에 프립 어플을 알게 되어 신청했습니다! 처음엔 조금 부끄러웠지만 편하게 해주셔서 금방 적응했어요! 기초적인 부분부터 차근차근 알려주셔서 좋았습니당</div>
                <div style="font-size: 11px; margin-bottom: 5px;">보컬레슨, 녹음하며 정복하자! (예약 가능)</div>
                <div style="font-size: 11px; margin-bottom: 10px;">원데이 녹음+보컬레슨 (60분)</div>
                <div class="show_img_wrapper">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eggtart.jpg" alt="" class="show_review_img">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eggtart.jpg" alt="" class="show_review_img">
                    <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/eggtart.jpg" alt="" class="show_review_img">
                </div>
                <hr>
            </div>
            
        </div>
        <div class="Wrapper_Paging">
            <div class="paging">
                <button onclick="movePage(1)">1</button>
                <button onclick="movePage(2)">2</button>
                <button onclick="movePage(3)">3</button>
                <button onclick="movePage(4)">4</button>
                <button onclick="movePage(5)">5</button>
            </div>
        </div>
    </div>

    <script>
        function movePage(page) {
          var currentPage = $("#currentPage").val();
          var pageSize = 10;
        
          // 현재 페이지 번호가 없으면 1페이지로 설정
          if (currentPage == null) {
            currentPage = 1;
          }
        
          // 이동할 페이지 번호를 구합니다.
          var targetPage = currentPage + page - 1;
        
          // 이동할 페이지 번호가 범위를 벗어나면 1페이지로 설정
          if (targetPage < 1) {
            targetPage = 1;
          } else if (targetPage > pageCount) {
            targetPage = pageCount;
          }
        
          // 페이지 번호를 설정
          $("#currentPage").val(targetPage);
        
          // 게시판의 글을 조회
          getBoards(targetPage, pageSize);
        }
        
        // 게시판의 글을 조회
        function getBoards(currentPage, pageSize) {
          $.ajax({
            url: "/board/list",
            type: "GET",
            data: {
              currentPage: currentPage,
              pageSize: pageSize
            },
            success: function(response) {
              var boards = response.data;
              $(".board-list").html(boards);
            }
          });
        }
        </script>
    

    <!-- 본문 끝-->

<!--footer 시작-->
    <footer>
        <div class="footer">
            <div class="footer_wrap">
                <div class="foot_first">
                        운영시간: 평일/주말 10:00 - 17:00 (점심 : 12:00 - 13:00)
                </div>
                <div class="footer_all">
                        광고/제휴: 123456@gmail.com
                </div>
                <div class="footer_all_2">
                            <h2>HabitBroker</h2>
                            <div>대표 : 2조 | 개인정보 관리 책임자 : 모두</div>
                            <div>서울시 강남구 강남역 3번출구 삼성빌딩</div>
                        <div>

                        </div>
                    </div>
                <div class="footer_all_3">
                        <a>이용약관</a> | 
                        <a>개인정보 처리방침</a> | 
                        <a>위치기반 서비스 이용약관</a>
                </div>
                <div class="footer_copy">
                COPYRIGHT &copy;HABIT
                </div>
            </div>
        </div>
    </footer>
    <!--footer 끝-->

   


  
</body>