<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/reset.css?after">
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/survey.css?after">
  <script src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/js/survey.js?after"></script>
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/modal.css">
<script>
 
</script>

  
</head>
<body> 
    <!--헤더시작--> 
    <header>
      <div class="global1">
        <div class="global_topbar">
            <div class="global_topbar_menu1" >
            <a href=""><div class="global_topbar_menu1_menu">호스트지원</div></a>
            </div>
            <div class="global_topbar_menu2" >
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">회원가입</div></a>
            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/login.html" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">로그인</div></a>
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">자주 묻는 질문</div></a>
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">공지사항</div></a>
            </div>
        </div>
      </div>

      <!--topvar2-->
      <div class="global2">
        <div class="global_topbar2">
            <div class="global_topbar2_menu1">
                <a href="" class="global_topbar2_menu1_a">
                    <div>
                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/cate.png" alt="" width="25px"  >
                        <span>카테고리</span>
                    </div>
                </a>
                
                <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/intro.html" class="global_topbar2_menu1_a_log">
                    <div class="global_topbar2_menu1_a_div">
                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/logo%20(2).png" alt="로고" width="70px" >
                    </div>         
                </a>

                <div class="global_topbar2_menu1_search">
                    <div>
                        <form action="">
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/search.png" alt="로고" >
                            <input type="text" class="global_topbar2_menu1_search_input search_input" placeholder="지금 생각나는 취미를 검색하세요.">
                        </form>
                    </div>
                </div>
            </div>

            <div class="global_topbar2_menu2">
                <a href="">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/feed.png" alt="로고" width="25px" >
                        </div>
                        <span>피드</span>
                    </div>
                </a>
                <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/zzim.html">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/heartforpage.png" alt="로고" width="25px" >
                        </div>
                        <span>찜</span>
                    </div>
                </a>
                <a href="cart.html">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/cart2.png" alt="로고" width="25px" >
                        </div>
                        <span>장바구니</span>
                    </div>
                </a>
                <a href="">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ME.png" alt="로고" width="25px">
                        </div>
                        <span>마이</span>
                    </div>
                </a>
            </div>
        </div>
      </div>

      <div class="global_modal">
        <div class="global_modal_form">
            <div class="global_topbar2_search">
                <div class="global_modal_wrapper">
                    <div>
                        <section>
                            <div class="global_modal_search">
                                <div>최근검색어</div>
                                <a href="#"><div class="global_modal_search_del">지우기</div></a>
                            </div>
                    
                            <a href="#"><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                        </section>
                        <hr>
                        <section>
                            <div class="global_modal_search">인기검색어</div>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                        </section>
                       
                    </div>
                </div>
            </div>
            
        </div>
        <div class="global_modal_bottom"></div>
    </div>
    </header>

    <!--헤더끝-->

    <!-- 본문 시작 -->

    <div class="Home">
        <div class="Home_sub">
            <div>설문조사</div>
            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/dding.png" alt="" class="Home_sub_img">
        </div>
        <hr>
        <div class="Home_form">
            <form action="">
                <div class="Home_form_wrapper">
                    <div class="Home_form_num">
                        질문 1
                    </div>
                    <div class="Home_form_ask">
                        성별이 어떻게 되십니까?
                    </div>
                    <div class="Home_form_answer">
                        <div><input type="radio" name="gender" id="" value="남자">남자</div>
                        <div><input type="radio" name="gender" id="" value="여자">여자</div>
                        <div><input type="radio" name="gender" id="" value="그외">그외</div>
                    </div>
                </div>

                <!--질문끝-->
                <div class="Home_form_wrapper">
                    <div class="Home_form_num">
                        질문 2
                    </div>
                    <div class="Home_form_ask">
                        나이대가 어떻게 되십니까?
                    </div>
                    <div class="Home_form_answer">
                        <div><input type="radio" name="age" id="" value="남자">20대 이하</div>
                        <div><input type="radio" name="age" id="" value="여자">30대 이하</div>
                        <div><input type="radio" name="age" id="" value="그외">40대 이하</div>
                        <div><input type="radio" name="age" id="" value="그외">50대 이상</div>
                    </div>
                </div>

                <!--질문끝-->
                <div class="Home_form_wrapper">
                    <div class="Home_form_num">
                        질문 3
                    </div>
                    <div class="Home_form_ask">
                        실내 활동, 실외 활동 중 어떤 것을 추구하십니까?
                    </div>
                    <div class="Home_form_answer">
                        <div><input type="radio" name="where" id="" value="남자">실내 활동</div>
                        <div><input type="radio" name="where" id="" value="여자">실외 활동</div>
                    </div>
                </div>

                <!--질문끝-->
  
                
                <!--질문끝-->
                <div class="Home_form_wrapper">
                    <div class="Home_form_num">
                        질문 4
                    </div>
                    <div class="Home_form_ask">
                        다른 사람과 함께하는 활동 또는 개인적인 활동을 원하십니까?
                    </div>
                    <div class="Home_form_answer">
                        <div><input type="radio" name="how" id="" value="남자">연인과 함께</div>
                        <div><input type="radio" name="how" id="" value="남자">친구와 함께</div>
                        <div><input type="radio" name="how" id="" value="여자">혼자</div>
                        <div><input type="radio" name="how" id="" value="여자">노상관</div>
                        
                    </div>
                </div>

                <!--질문끝-->
                <div class="Home_form_wrapper">
                    <div class="Home_form_num">
                        질문 5
                    </div>
                    <div class="Home_form_ask">
                        당신이 지불할 수 있는 원데이클래스 금액?
                    </div>
                    <div class="Home_form_answer">
                        <div><input type="radio" name="fare" id="" value="남자">3만원 미만</div>
                        <div><input type="radio" name="fare" id="" value="여자">5만원 미만</div>
                        <div><input type="radio" name="fare" id="" value="여자">7만원 미만</div>
                        <div><input type="radio" name="fare" id="" value="여자">10만원 미만</div>
                    </div>
                </div>
                <hr>
                <div class="Home_form_info">
                    *설문조사완료 후 에너지는 자동 지급됩니다. <br>                                   
                    *이벤트 적용 기간에 한해 적립 <br>
                    
                </div>
                <div class="Home_form_btn_wrapper">
                    <button class="Home_form_btn">설문조사 완료</button>
                </div>
            </form>
        </div>
    </div>

    <!-- 본문 끝-->

<!--footer 시작-->
    <footer>
        <div class="footer">
            <div class="footer_wrap">
                <div class="foot_first">
                        운영시간: 평일/주말 10:00 - 17:00 (점심 : 12:00 - 13:00)
                </div>
                <div class="footer_all">
                        광고/제휴: 123456@gmail.com
                </div>
                <div class="footer_all_2">
                            <h2>HabitBroker</h2>
                            <div>대표 : 2조 | 개인정보 관리 책임자 : 모두</div>
                            <div>서울시 강남구 강남역 3번출구 삼성빌딩</div>
                        <div>

                        </div>
                    </div>
                <div class="footer_all_3">
                        <a>이용약관</a> | 
                        <a>개인정보 처리방침</a> | 
                        <a>위치기반 서비스 이용약관</a>
                </div>
                <div class="footer_copy">
                COPYRIGHT &copy;HABIT
                </div>
            </div>
        </div>
    </footer>
    <!--footer 끝-->

   


  
</body>