<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/reset.css?after">
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/mypage.css?after">
  <script src="js/html.js?after"></script>
  <link rel="stylesheet" href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/css/modal.css?after">

  <script src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/js/mypage.js"></script>


  
</head>
<body> 
    <!--헤더시작--> 
    <header>
      <div class="global1">
        <div class="global_topbar">
            <div class="global_topbar_menu1" >
            <a href=""><div class="global_topbar_menu1_menu">호스트지원</div></a>
            </div>
            <div class="global_topbar_menu2" >
            <a href="newMember.html" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">회원가입</div></a>
            <a href="login.html" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">로그인</div></a>
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">자주 묻는 질문</div></a>
            <a href="" class="global_topbar_menu2_menu"><div class="global_topbar_menu2_menu">공지사항</div></a>
            </div>
        </div>
      </div>

      <!--topvar2-->
      <div class="global2">
        <div class="global_topbar2">
            <div class="global_topbar2_menu1">
                <a href="category.html" class="global_topbar2_menu1_a">
                    <div>
                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/cate.png" alt="" width="25px"  >
                        <span>카테고리</span>
                    </div>
                </a>
                
                <a href="intro.html" class="global_topbar2_menu1_a_log">
                    <div class="global_topbar2_menu1_a_div">
                        <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/logo%20(2).png" alt="로고" width="70px" >
                    </div>         
                </a>

                <div class="global_topbar2_menu1_search">
                    <div>
                        <form action="">
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/search.png" alt="로고" >
                            <input type="text" class="global_topbar2_menu1_search_input search_input" placeholder="지금 생각나는 취미를 검색하세요.">
                        </form>
                    </div>
                </div>
            </div>

            <div class="global_topbar2_menu2">
                <a href="">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/feed.png" alt="로고" width="25px" >
                        </div>
                        <span>피드</span>
                    </div>
                </a>
                <a href="zzim.html">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/heartforpage.png" alt="로고" width="25px" >
                        </div>
                        <span>찜</span>
                    </div>
                </a>
                <a href="cart.html">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/cart2.png" alt="로고" width="25px" >
                        </div>
                        <span>장바구니</span>
                    </div>
                </a>
                <a href="mypage.html">
                    <div class="global_topbar2_menu2_menu">
                        <div>
                            <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/ME.png" alt="로고" width="25px">
                        </div>
                        <span>마이</span>
                    </div>
                </a>
            </div>
        </div>
      </div>

      <div class="global_modal">
        <div class="global_modal_form">
            <div class="global_topbar2_search">
                <div class="global_modal_wrapper">
                    <div>
                        <section>
                            <div class="global_modal_search">
                                <div>최근검색어</div>
                                <a href="#"><div class="global_modal_search_del">지우기</div></a>
                            </div>
                    
                            <a href="#"><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                            <a><div class="global_modal_searchNew">소개팅</div></a>
                        </section>
                        <hr>
                        <section>
                            <div class="global_modal_search">인기검색어</div>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                            <a href="#"><div class="global_modal_searchResult">소개팅</div></a>
                        </section>
                       
                    </div>
                </div>
            </div>
            
        </div>
        <div class="global_modal_bottom"></div>
    </div>
    </header>

    <!--헤더끝-->

    <!-- 본문 시작 -->

    <div class="Home">
        <a href="mypageEdit.html"><div class="Home_myinfo">
            <div class="Home_myinfo_img">
                <img src="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/img/defaultPro.png" alt="">
            </div>
            <div class="Home_myinfo_name">
                박해빈
            </div>
        </div></a>
        <!--마이 정보 끝-->

        <div class="Home_myrecord">
            <a href="">
                <div class="Home_myrecord_name">에너지</div>
                <div class="Home_myrecord_num">0</div>
            </a>
            <a href="">
                <div class="Home_myrecord_name">쿠폰</div>
                <div class="Home_myrecord_num">0</div>
            </a>
            <a href="">
                <div class="Home_myrecord_name">후기</div>
                <div class="Home_myrecord_num">0</div>
            </a>
            <a href="">
                <div class="Home_myrecord_name">피드</div>
                <div class="Home_myrecord_num">0</div>
            </a>
        </div>
        <!--마이 기록 정보 끝-->
        <hr>
        <div class="Home_myact">
            <div class="Home_myact_name">내 활동</div>
            <a href="order.html">
                <div class="Home_myact_order">
                    결제내역
                </div>
            </a>
            <a href="#">
                <div class="Home_myact_friend1">
                    친구초대
                </div>
                <div class="Home_myact_friend2">
                    3,000원 에너지 받기
                </div>
            </a>
        </div>
        <hr>
        <!--고객센터-->
        <div class="Home_myact">
            <div class="Home_myact_name">고객센터</div>
            <a>
                <div class="Home_myact_order">
                    공지사항
                </div>
            </a>
            <a href="#">
                <div class="Home_myact_friend1">
                    FAQ
                </div>
            </a>
        </div>
         <hr>
        <!--호스트지원-->
        <div class="Home_myact">
            <div class="Home_myact_name">호스트</div>
            <a href="../../../../../../../frontend%20총모음%20(2)/frontend%20총모음/host_newhost.html">
                <div class="Home_myact_order">
                    호스트 지원
                </div>
            </a>
        </div>        
    </div>

    <!-- 본문 끝-->

<!--footer 시작-->
    <footer>
        <div class="footer">
            <div class="footer_wrap">
                <div class="foot_first">
                        운영시간: 평일/주말 10:00 - 17:00 (점심 : 12:00 - 13:00)
                </div>
                <div class="footer_all">
                        광고/제휴: 123456@gmail.com
                </div>
                <div class="footer_all_2">
                            <h2>HabitBroker</h2>
                            <div>대표 : 2조 | 개인정보 관리 책임자 : 모두</div>
                            <div>서울시 강남구 강남역 3번출구 삼성빌딩</div>
                        <div>

                        </div>
                    </div>
                <div class="footer_all_3">
                        <a>이용약관</a> | 
                        <a>개인정보 처리방침</a> | 
                        <a>위치기반 서비스 이용약관</a>
                </div>
                <div class="footer_copy">
                COPYRIGHT &copy;HABIT
                </div>
            </div>
        </div>
    </footer>
    <!--footer 끝-->

   


  
</body>